<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="rolApp" value="appMovil" />
      <add key="ApplicationName" value="ActivosFijos" />
		  <add key="DestinoSAP" value="DEV" />
    <add key="DestinoSAP1" value="QAS2" />
    <add key="Ambiente" value="QAS" />
    <add key="Database" value="DevActivos" />
    <add key="ApplicationId" value="406D12FF-8928-4C36-B42F-8CBC30E870C9" />
 
  </appSettings>
  <connectionStrings>
    <add name="OnePeople" connectionString="data source=FMS-DUR-VOP02;User id=appsuser;password=r3@dy.player1;Initial Catalog=onepeople2;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=FMS-MTY-VSB01;User ID=AFUser;Password=@c71v0s$;Initial Catalog=Autenticacion;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="Activos" connectionString="Data Source=FMS-MTY-VSB01;Initial Catalog=DevActivos;Persist Security Info=True;User ID=AFUser;Password=@c71v0s$" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="QAS" USER="RFC_ACTIVOS" PASSWD="Activos19" CLIENT="020" LANG="ES" ASHOST="192.168.100.42" SYSNR="00" POOL_SIZE="30" MAX_POOL_SIZE="100" />
          <add NAME="QAS2" USER="RFC_MANTTO" PASSWD="Zpm_0_Mantto_Z0!T" CLIENT="030" LANG="ES" ASHOST="192.168.100.43" SYSNR="00" POOL_SIZE="10" MAX_POOL_SIZE="100" />
          <add NAME="DEV" USER="RFC_MANTTO" PASSWD="Zpm_0_Mantto_Z0!T" CLIENT="010" LANG="ES" ASHOST="192.168.100.40" SYSNR="00" POOL_SIZE="10" MAX_POOL_SIZE="100" />
 
      </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>


  <system.web>
        <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="40" />
    </authentication>
    <compilation targetFramework="4.5.2" debug="true">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
     <httpRuntime maxRequestLength="1048576" executionTimeout="37200" />
    <sessionState timeout="40" mode="InProc" />
    <pages controlRenderingCompatibilityVersion="4.0">
        <!-- <namespaces>
          <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>-->
    </pages>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="ActivosFijos" />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        El perfil de pertenencia de ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="ActivosFijos" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        
        <add connectionStringName="ApplicationServices" applicationName="ActivosFijos" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="ActivosFijos" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="SpanishSiteMapProvider" enabled="true">
      <providers>
        <add name="SpanishSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
        <add name="EnglishSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web_EN.sitemap" securityTrimmingEnabled="true" />
        <remove name="MySqlSiteMapProvider" />
      </providers>
    </siteMap>
   
  </system.web>
  <location path="Configuracion">
    <system.web>
      <authorization>
        <allow roles="Soporte,Seguridad" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
 <location path="UniqueID">
    <system.web>
      <authorization>
        <allow roles="Activos Fijos, Soporte" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Índice de Activos">
    <system.web>
      <authorization>
        <allow roles="Activos Fijos,Soporte,Mantenimiento,Logistica,Lectura" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Kilometrajes">
    <system.web>
      <authorization>
        <allow roles="Soporte,Mantenimiento,Lectura" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Gestion de Usuarios">
    <system.web>
      <authorization>
        <allow roles="Soporte,Seguridad" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
	     <urlCompression doStaticCompression="true" doDynamicCompression="true" />
       <httpProtocol>
      <customHeaders>
        <add name="Access-control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </customHeaders>
    </httpProtocol>
     <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="30000000" /> 
      </requestFiltering>
    </security>
    <!--
    Este solo se activa en el servidor
    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>-->

  </system.webServer>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {6822600f-d1b5-46ce-9307-0d079f76443c}-->